[2016-03-02 16:29] sanuann opened #2 "Check-in page welcome page (For weeks when check-in period is not open)"

[2016-03-02 16:32] sanuann commented on #2
In the 2nd paragraph after the date, change from:
“And, if your company is participating in the Corporate Challenge, your monthly Walk/Ride Day check-ins from April through October will count towards your company's standings.”
to
“And, if your company is participating in the [Corporate Challenge](http://gogreenstreets.org/2016-walkride-day-corporate-challenge), your monthly Walk/Ride Day check-ins

[2016-03-02 16:35] sanuann opened #3 "Check-in page welcome page (For the period when check-in period IS open)"
* Social media icon uniformity across website (Ie use icons from our website for social media links)
* Change wording: from “current walk/ride day” to This month’s Walk/Ride Day”

[2016-03-02 16:45] sanuann opened #4 "Check-in page (http://checkin2015-greenstreets.rhcloud.com/checkin/)"
* ADD SEPARATE NUMBER/ STREET/ ZIP CODE FIELDS FOR BOTH HOME AND WORK ADDRESS: We could not analyze for location b/c there were too many home and work address typos.
* TEXT MODIFICATIONS:
 * Substitute with/revert to "Employer" for "Occupation"
 * Modify wording to:"Use 'Not employed', 'Self', 'Student' or 'Other employer' as appropriate" (before April) and
 * "Use 'Not employed', 'Self', 'Student

[2016-03-02 16:47] sanuann opened #5 "Check in follow up page (http://checkin2015-greenstreets.rhcloud.com/checkin/)"
* Add CO2 saved/emitted
* More space in between achievement and how it’s calculated
* Bring share with your friends and icons up to top of page near text/ Social media icon uniformity across website

[2016-03-02 16:49] sanuann opened #6 "Update Thank You letter"
* Changes can be found [here](https://docs.google.com/document/d/1wti4SOhVIruEekD1QhA-nj8ifa1WsDI-BtQ7HN8bWL8/edit)
* Once leaderboard is live April- October be sure to send out thank you email with ‘To see how your company is ranked in the 2016 Walk/Ride Day CORPORATE CHALLENGE, click here (hyperlink)’ instead of, ‘If you haven't already, CLICK HERE to see how your company did in the 2015 Corpora

[2016-03-02 16:50] sanuann opened #7 "Leader Board"
* Between April 1 and April 22, make sure 2016 Leaderboard is fully operational with correct year, new URL, and current employers, sizes, segments, and subteams.

[2016-03-02 16:52] sanuann opened #8 "IMPORTANT RELATED ISSUES"
* BACKUP: With a variety of people working on the website, do we have things secure and backed up in case someone working on it screws it up.
* PROCESS:
 * Clarify who does what at which times of the year, and plan ahead. Eg. What happens on Feb. 1 (Add note re joining the Challenge), April WRD (Activate only the current competitors as "Employers and teams", Change the LB to new year,),Nov. 1, (en

[2016-03-16 17:58] ghost commented on #5
This task has been completed.

[2016-03-16 17:58] #5 closed

[2016-03-16 17:59] ghost commented on #3
This task has been completed.

[2016-03-16 17:59] #3 closed

[2016-03-16 18:01] ghost commented on #4
Text modifications have been completed.  All set on social media icons.  Employer list will be updated by Janie/Stephanie through the site's admin console.  Highest priority task remaining is to simplify the checkin, based on how it was set up in the sample checkin site.

[2016-03-16 18:02] ghost commented on #2
This has been completed.

[2016-03-16 18:02] #2 closed

[2016-03-16 18:04] ghost commented on #8
BACKUP:  The GitHub repository and the OpenShift/RHCloud repositories serve as backup for the code.  For data in the checkin database, we need to identify what the backup procedure, timing and frequency is.

[2016-03-16 18:08] BristolArea8 opened #9 "Checkins can be submitted without commute information"
On the main checkin page, required fields are working for things like email address and employer, but are not working for fields in the From and To on WR Day and Normal day.  So, bad data (incomplete) can be introduced into our checkin database.  We need to change this so users are forced to fill out all key fields before they can successfully submit a checkin.  As far as we can tell, this issue i

[2016-03-16 18:09] BristolArea8 opened #10 "Add commas before and after the commuter's name, on the thank you page"
Improve punctuation in the thanks.html page.

[2016-03-16 18:09] ghost commented on #10
This task is complete

[2016-03-16 18:09] #10 closed

[2016-03-18 17:51] BristolArea8 opened #11 "Retail map not appearing on thank you page after checkin"
Entering this as a new issue.  Originally thought retail map was not appearing due to iFrames not functioning in absence of https:

But, on the sample checkin response / thank you page on openshift, we do have the retail map successfully appearing.

So need to look into this further.  Until its fixed, we simply have a link to a new page with the retail map.

[2016-03-22 01:21] pwnage101 opened #12 "[checkin survey] reload map after loading form values from cookies"
problem:

after loading the checkin page and loading custom form values from cookies, the map does not display any route despite the source and destination being filled out.

solution:

somehow (javascript?) reload the map after after loading page with cookie data.

[2016-03-22 16:48] pwnage101 commented on #8
Backup procedure: We can use cron in the application.  perhaps we can use cron to invoke a database dump with `pg_dumpall`.  This is a backup script I wrote a couple years ago for this exact purpose:

https://linux.ucla.edu/git/?p=lug-db-backup.git;a=blob;f=run_backup.sh;h=e6e53bfb72;hb=HEAD

edit: created issue #14 and removed the "BACKUP" part of this issue. Please continue discussions about bac

[2016-03-22 16:54] pwnage101 commented on #11
I'm creating a new app behind dev-greenstreets.rhcloud.com for testing purposes.  I will use this dev app to debug the iframe issue.  Assigning issue to myself.

[2016-03-22 17:13] pwnage101 opened #13 "set up automated testing"
proposal:

1. push to github triggers jenkins to pull changes and run unit tests
2. if unit tests are successful, jenkins will push to dev-greenstreets.rhcloud.com
3. jenkins will proceed to perform integration/regression tests on the dev-greenstreets app
4. It is the responsibility of a developer to see if the tests passed and manually deploy the jenkins-approved commit to the live production app

[2016-03-22 17:23] pwnage101 opened #14 "set up database backups"
With a variety of people working on the website, do we have things secure and backed up in case someone working on it screws it up.

Proposal: Use cron to do periodic backups.  Write a wrapper script around `pg_dumpall` to perform database dumps to a local directory.

Long Term: create another cron job to rsync the dumps to another server.

Example: https://linux.ucla.edu/git/?p=lug-db-backup.git;

[2016-03-22 18:46] thecristen commented on #8
I believe there's an existing cron job that runs once a day. it dumps the db and zips it up... i think it's on `(openshift app)/app-root/data`? you'll probably know it when you see it.

[2016-03-25 22:37] pwnage101 commented on #11
I haven't finished the new dev app yet, but I just noticed commit b873814e65ab966bd3e7bf93b9865675c32bd8bb which made me realize that `*.gogreenstreets.org` is a totally different origin/domain than `*.rhcloud.com`, and that's probably why the iframes are only showing up in sample-greenstreets.rhcloud.com and not checkin.gogreenstreets.com.

I'm going to test that assertion by doing the following:

[2016-03-25 22:43] pwnage101 commented on #14
It looks like there are already local backups, according to `.openshift/cron/daily/backup_postgres.sh`.  The only additional thing we may need to discuss is remote backups, but that's beyond the scope of this issue.

Closing.

[2016-03-25 22:43] #14 closed

[2016-03-28 21:26] pwnage101 commented on #13
I just merged basic Travis support (thanks Ben) and added a travis build status badge to the top-level README.  Revised proposal:
1. push to github triggers travis tests (code lint, unit tests)
2. upon success, a developer needs to push/deploy to the `dev-greenstreets` openshift app where something will automatically test for regressions (perhaps using `.openshift/action_hooks/post_deploy`?), or a

[2016-04-02 15:09] pwnage101 opened #18 "figure out most frequent commuting mode"
...and make it the default selection in the form.

[2016-04-02 15:39] pwnage101 commented on #18
closing because we don't want to set a default in the form anymore.

[2016-04-02 15:39] #18 closed

[2016-04-23 15:57] thecristen opened #21 "Remove use of Mandrill for the Retail app"
Right now it's used to send email notifications to Green Streets when new Retail Partner form is filled. We can do this with Python...

[2016-04-24 21:48] jkatzchristy opened #22 "Complete implementation of cookies"
Check-in needs to remember peoples' previous check-in info, so they only need to re-enter things that have changed. Make sure cookies work for legs, employers, sub-teams.

[2016-04-24 21:49] jkatzchristy commented on #4
Created #22.

[2016-04-24 21:50] #7 closed

[2016-04-24 21:53] jkatzchristy opened #23 "VERY HIGH PRIORITY Make sub-teams field dynamic"
Sub-teams field currently shows up always, and shows ALL sub-teams.

PRIORITY #!: Sub-teams field should ONLY show IF employer selected HAS sub-teams. Show only the sub-teams related to specific selected employer.

(Participants have no way to know if their company had subteams or not, nor which sub-teams on this very long list relate to their workplace!)

PRIORITY #2: Leaderboard needs to show AL

[2016-04-24 22:04] jkatzchristy opened #24 "Investigate keeping records of what emails sent by app"
Per Troy's request.

[2016-04-24 22:04] jkatzchristy opened #25 "Replace Mandrill on Retail Partners page."
Last we heard, the retail app still uses mandrill to send mail.  Since our mandrill key is due to expire soon (eta?), this section of the code needs to send mail another way.  --troy

[2016-04-24 22:48] pwnage101 commented on #24
We at least want a record of what emails are sent, and if they are accepted by the mail server.  Apparently we get that for free with Mandrill.

The task here is to confirm that we have that now with whatever sends mail, or to figure out a way to collect that information.  Even just a script to parse the django logs would be better than nothing.

[2016-04-25 01:14] jkatzchristy opened #26 "Update Thank You letter to participants for checking in"
Change 2ND + 3RD paragraphs FROM:

If you haven't already, CLICK HERE to see how your company did in the 2015 Corporate Challenge, which ended with the October Walk/Ride Day.

Thank you for being involved! Remember to check-in for next month's Walk/Ride Day.

TO:

To see how your company is ranked in the 2016 Walk/Ride Day CORPORATE CHALLENGE, click here [hyperlink to 2016 Leaderboard].

Thank you

[2016-04-25 01:19] jkatzchristy commented on #6
Replaced by #28

[2016-04-25 01:19] #6 closed

[2016-04-25 01:21] jkatzchristy commented on #25
Duplicated Issue #21

[2016-04-25 01:21] #25 closed

[2016-04-25 02:36] #26 closed

[2016-04-25 02:46] jkatzchristy commented on #23
**\* 2015 and 2014 Check-ins and Leaderboards showed worked in the correct way re sub-teams, I believe ***

[2016-04-25 03:07] thecristen opened #27 "Rename this repo and retire old URLs"
# Rename this repo

from checkin2015 to something more general
like checkinapp

More info: https://help.github.com/articles/renaming-a-repository/
We'll just have to make sure to tell everyone to update their remotes

# Retire old URLs

http://checkin-greenstreets.rhcloud.com/
http://checkin2015-greenstreets.rhcloud.com/
http://sample-greenstreets.rhcloud.com/

We probably don't need all three.

[2016-04-25 03:09] jkatzchristy opened #28 "(HIGHEST PRIORITY: STEP 1) Add "question of the month" near end of check-in"
Step 1: Change text in comment text box FROM "On a rainy spring day, what's your favorite mode of commuting?" TO
"April's question-of-the-month: If you could designate a road in the Greater Boston Area (or in your area if you are elsewhere) to have a safe-for-biking lane, which road or stretch of road would you pick?"

Step 2: If it's possible, add new question before "Add a Comment" to be changed

[2016-04-25 03:10] jkatzchristy opened #29 "Change text in comment box"
Current grey text in "Add a comment" box that says "Employers may now register..." is out of date.
Replace with either "We welcome your feedback here!", whatever we had there in 2015, or text from Issue #28.

[2016-04-25 03:19] thecristen commented on #11
Yep, that'll definitely work.
Taking a quick look at it now, it looks like we might not want to just iframe the reail index page - on smaller screens you get this mess
![screen shot 2016-04-24 at 11 18 30 pm](https://cloud.githubusercontent.com/assets/2136286/14773035/f8738e3c-0a72-11e6-8f75-c53fdbc4e488.png)

[2016-04-25 03:21] thecristen commented on #9
Fixed in ec19e43

[2016-04-25 03:21] #9 closed

[2016-04-25 03:25] thecristen commented on #29
The new site has it - http://checkinapp-greenstreets.rhcloud.com/checkin/
It has Stephanie's suggestion - "On a rainy spring day, what is your favorite mode of commuting?"

[2016-04-25 03:25] #29 closed

[2016-04-25 03:30] thecristen opened #30 "Phone number in thank you email has extra space"
Seen in my Gmail inbox.

The [relevant bit of code](https://github.com/greenstreetsinitiative/checkin2015/blob/master/survey/views.py#L184) has no space, so I'm quite perplexed by this one.

[2016-04-25 03:33] thecristen opened #31 "add computable location fields"
from earlier:

ADD SEPARATE NUMBER/ STREET/ ZIP CODE FIELDS FOR BOTH HOME AND WORK ADDRESS: We could not analyze for location b/c there were too many home and work address typos.

[2016-04-25 03:33] thecristen commented on #4
Created #31. Everything else seems to be done, so closing this.

[2016-04-25 03:33] #4 closed

[2016-04-25 03:58] thecristen commented on #21
Testing out some changes I'm making to this... @jkatzchristy did `info@greenstreets.org` get an email a few minutes ago for a new retail partner I made? :)

[2016-04-25 04:07] #12 closed

[2016-04-25 04:31] jkatzchristy opened #32 "IMPORTANT FOR MONDAY: Confirm that correct subteams are being used"
The employers and subteams that are correct for 2016 were entered here: http://checkinapp-greenstreets.rhcloud.com/admin/survey/team/.

They do not seem to be the same ones that are on the current live check-in.

[2016-04-25 04:37] thecristen commented on #21
Adding this note -

Mandrill still is needed to play the part of the email server - see relevant settings https://github.com/greenstreetsinitiative/checkin2015/blob/master/checkin2015/settings.py#L182
How to replace this? We'll have to look into other email servers. Does Google Apps provide anything? Something else?

[2016-04-25 04:40] thecristen commented on #32
Checking on this. Are there any specific subteams that are missing or that are there and shouldn't be?

[2016-04-25 04:46] thecristen commented on #32
The checkin shows all Teams whose associated Employer is checked as participating is the 2016 challenge. I updated **BU** and **NMR group** - The 2015-participant was still marked as 2016 even though there are separate 2016-participant entries for them.

By the way the entities listed at http://checkinapp-greenstreets.rhcloud.com/companies/2016/ are what's feeding the LB and checkin :)

[2016-04-25 06:46] thecristen commented on #23
I just pushed a fix for the first item! Now the subteam menu only shows if you picked an employer that has subteams. Additional, the resulting list of subteams is filtered by subteams that are in the selected team!

![subteamselect](https://cloud.githubusercontent.com/assets/2136286/14775824/d6db6502-0a8f-11e6-8d2f-397d9f4a9677.gif)

 Checking the entities listed in http://checkinapp-greenstreets.

[2016-04-25 06:46] #23 closed

[2016-04-25 14:12] pwnage101 commented on #30
At a glance, it looks like there's no closing span tag.  HTML engines in web browsers might be able to handle those special cases with an appropriate doctype, but I assume email clients are hit-or-miss.

[2016-04-25 14:16] jkatzchristy opened #33 "Redirect all other check-in urls to our current one"
Currently, our historical check-in url, checkin.gogreenstreets.org, REDIRECTS TO THE WRONG check-in URL: checkin2015-greenstreets.rhcloud.com.

1. Redirect checkin2015-greenstreets.rhcloud.com to http://checkinapp-greenstreets.rhcloud.com/checkin/.

2. Redirect checkin.gogreenstreets.org to http://checkinapp-greenstreets.rhcloud.com/checkin/ - if you have access to that.

[2016-04-25 14:33] pwnage101 commented on #33
checkin.gogreenstreets.org resolves to 184.168.221.6 which just responds with a 301 redirect. 184.168.221.6 is not openshift (since it's not AWS).  What is this server?  Who has access?

[2016-04-25 14:40] pwnage101 commented on #33
Another solution would be to implement the following CNAME record at the DNS server

`checkin.gogreenstreets.org CNAME checkinapp-greenstreets.rhcloud.com.`

GoDaddy is the DNS provider.  How does this solution sound instead?

[2016-04-25 14:42] jkatzchristy commented on #33
I will ask our GoDaddy owner, the first person who reserved our url, to redirect. In the meantime, and as well, can you do item 1?

[2016-04-25 14:44] pwnage101 commented on #33
Yes, I'll create a separate "redirect_to_checkinapp" branch to redirect the 2015 app.  I will not merge this into master since this will only be for use with the 2015 app.

[2016-04-25 14:58] jkatzchristy commented on #33
Great! Is it close to happening?

[2016-04-25 15:04] jkatzchristy commented on #33
ONE MORE NOTE!: The check-in button on our website now goes straight to page 2 of our check-in (http://checkinapp-greenstreets.rhcloud.com/checkin/), so people have one less click to make!

We will still probably want to integrate some of the text and graphics from page 1 (http://checkinapp-greenstreets.rhcloud.com/), but that's not our highest priority. Though @pwnage101  is working on this, I wa

[2016-04-25 15:08] pwnage101 commented on #33
created commit acda8b251711d6ee3e0c62f475e8daf6f7d0e44c in branch redirect_to_checkinapp.  I will be deploying this to checkin2015-greenstreets.rhcloud.com as soon as i fix my clogged toilet....

[2016-04-25 15:18] jkatzchristy opened #34 "Redirect temp 2016 Leaderboard links to new 2016 Leaderboard"
Redirect http://checkin2015-greenstreets.rhcloud.com/leaderboard/2016/ to http://checkinapp-greenstreets.rhcloud.com/leaderboard/2016/

[2016-04-25 15:20] jkatzchristy commented on #33
:) Great! Good luck on both.

[2016-04-25 15:27] pwnage101 commented on #33
deployment to checkin2015-greenstreets in progress.

[2016-04-25 15:30] pwnage101 commented on #33
Redirection via Django appears to be successful!  As it stands:

checkin.gogreenstreets.org points to mystery server 184.168.221.6 which returns a 301 redirect to checkin2015-greenstreets.rhcloud.org which returns a 301 redirect to checkinapp-greenstreets.rhcloud.org.

[2016-04-25 15:31] jkatzchristy commented on #33
Can you change the destination page to  http://checkinapp-greenstreets.rhcloud.com/checkin/ (page 2 of checkin?) @pwnage101

[2016-04-25 16:45] pwnage101 commented on #33
Just to be clear, I actually deployed the commit df49960e17b0b70a1a19532165b856d403f603cf in branch redirect_to_checkinapp_2.  This is different in the sense that the parent of HEAD is what used to be deployed to checkin2015-greenstreets.rhcloud.com.  I've done this in an attempt to minimize any harmful changes.

[2016-04-25 16:47] pwnage101 commented on #33
Spoke with janie over the phone, re her request to update the destination page to /checkin/.  This might have an undesirable effect, and it needs to be specced out more.

Keep this issue open until we make the DNS change and verify that it is successful and doesn't break anything.

[2016-04-25 17:00] jkatzchristy opened #35 "Redirect temp 2016 Leaderboard links to new 2016 Leaderboard"
Redirecdt http://checkin2015-greenstreets.rhcloud.com/leaderboard/2016/ to http://checkinapp-greenstreets.rhcloud.com/leaderboard/2016/

[2016-04-25 17:00] #35 closed

[2016-04-25 17:03] jkatzchristy opened #36 "Possibly for May: embed check-in into email"
It would be great to potentially do that for May. I believe that studies show that having survey questions directly embedded into an email significantly increases response rate.

[2016-04-25 18:07] jkatzchristy commented on #28
@pwnage101 Can you work on this?!

[2016-04-25 18:22] pwnage101 commented on #28
technical consideration: if we add the text box and change the model, how does this affect old rows?  Do all the existing database rows need to be modified?  What part of this problem does Django tooling help with.

[2016-04-25 18:24] jkatzchristy commented on #28
Step 1: Change text in comment text box FROM "On a rainy spring day, what's your favorite mode of commuting?" TO
"April's question-of-the-month: If you could designate a road in the Greater Boston Area to have a safe-for-biking lane, which road or stretch of road would you pick?"

Step 2: Add new question before "Add a Comment" to be changed each month:

"April's question-of-the-month: If you coul

[2016-04-25 19:51] jkatzchristy commented on #28
@thecristen Troy just told me he's going to be out for 3 hours... we've been waiting to welcome coordinators to the new check-in until Step 1 change is made. Can you do it now, by any chance? Or is it something Dustin can do?

Thanks!!

[2016-04-25 19:57] thecristen commented on #28
Wow, that changed from Lower Priority real quick. Not great.
I can address it now, by doing what you outlined in Step 1. Adding an entirely new question is a more substantial change which we could consider next month.

[2016-04-25 20:02] thecristen opened #37 "add editable question-of-the-month field to checkin"
at minimum it involves adding the field to the model (with `blank=True` and `null=True`) and running migrations.

 ideally it would have a way for other volunteers to edit this Question from the Admin panel.

some more discussion in #28

[2016-04-25 20:05] jkatzchristy commented on #28
Yes, sorry for changing the priorities on you. It had been lower priority than getting people to the check-in and getting the links made to leaderboard... Thank you for doing it!!!

And can you add "(or in your area if you are elsewhere)"? It turns out that we ARE getting check-ins from all over the world! @thecristen

[2016-04-25 20:46] thecristen commented on #28
I'm out right now but can change it in about an hour

On Apr 25, 2016, 4:20 PM -0400, jkatzchristynotifications@github.com, wrote:

[2016-04-25 21:16] jkatzchristy commented on #28
THANK YOU!

[2016-04-25 21:29] #28 closed

[2016-04-25 22:37] pwnage101 commented on #33
still waiting on that DNS propagation.  Meanwhile, I ran this just for fun:

[code]

Basically:
1. `checkin.gogreenstreets.org` resolves to `184.168.221.6`
2. `184.168.221.6` redirects to `checkin-greenstreets.rhcloud.com`
3. `checkin-greenstreets.rhcloud.com` resolves to an IP address which 301 redirects to `checkin2015-greenstreets.rhcloud.com`
4. `checkin2015-greenstreets.rhcloud.com` resolves

[2016-04-26 15:24] stephoj commented on #21
Can we use elastic email? Janie has an account under her email and typical password. Mandrill is due to stop sending emails 4/27.

[2016-04-26 16:14] jkatzchristy opened #38 "TUESDAY, HIGHEST PRIORITY: Integrate checkins from obsolete form into current LB"
For whatever reason, ACIS staff are still checking in on http://checkin2015-greenstreets.rhcloud.com/ this morning. Therefore, their check-ins are not being sent to our current leaderboard, nor are they seeing the Question of the Month. Those check-ins need to be integrated into http://checkinapp-greenstreets.rhcloud.com/leaderboard/2016/ ASAP. @thecristen @pwnage101 Can you make this happen?!

[2016-04-26 16:55] jkatzchristy commented on #34
Also, integrate data from http://checkin2015-greenstreets.rhcloud.com/leaderboard/2016/ to http://checkinapp-greenstreets.rhcloud.com/leaderboard/2016/ #38

[2016-04-26 16:56] jkatzchristy commented on #32
I think this is all clarified/resolved.

[2016-04-26 16:56] #32 closed

[2016-04-26 19:31] pwnage101 commented on #33
won't have time to work on anything until later this evening

[2016-04-26 20:49] thecristen commented on #21
@stephoj @jkatzchristy apparently I don't remember the password. Could one of you log in and tell me the API Key? Feel free to email it to me. The site says:

[2016-04-26 20:52] jkatzchristy commented on #21
gst****s

Warmly,
Janie

_Janie Katz-Christy, Director_
_Green Streets Initiative http://gogreenstreets.org/_
_617-299-1872 o_
_617-645-9678 c_
_[image: gogreenstreets.org] http://gogreenstreets.org/_
_Happy Walk/Ride Day Week! *_Check in
http://checkinapp-greenstreets.rhcloud.com/checkin/ *_your plans now for
this Friday's Walk/Ride Day._
_Friend us on Facebook
https://www.facebook.com/pages/The-

[2016-04-26 21:01] thecristen commented on #21
Great, I think this will work out well! Will implement this later today.

[2016-04-26 21:20] thecristen commented on #38
@jkatzchristy Why didn't you close http://checkin2015-greenstreets.rhcloud.com/ to new checkins?!?! Just set the close date!

[2016-04-26 21:58] jkatzchristy commented on #38
Smart! And really dumb of me. I somehow thought that the dates on the home
page would be confusing. Anyhow, done now.

Warmly,
Janie

_Janie Katz-Christy, Director_
_Green Streets Initiative http://gogreenstreets.org/_
_617-299-1872 o_
_617-645-9678 c_
_[image: gogreenstreets.org] http://gogreenstreets.org/_
_Happy Walk/Ride Day Week! *_Check in
http://checkinapp-greenstreets.rhcloud.com/checkin/

[2016-04-27 01:51] thecristen commented on #38
phew... it was even harder than I thought, but I DID IT. I took all checkins from the old site made 4/22 or later (everything before was already in), and entered them into the new site. Marking this complete

[2016-04-27 01:51] #38 closed

[2016-04-27 01:53] #21 closed

[2016-04-27 01:53] #30 closed

[2016-04-27 03:21] thecristen commented on #24
Now we're using Elastic Email for send emails! And we can now see the emails being sent simply by logging in https://elasticemail.com/account#eactivitylogbox. So this is probably complete. :)

[2016-04-27 03:21] #24 closed

[2016-04-27 03:22] thecristen commented on #31
inspiration: we have the database infrastructure needed to store and query location information (thanks PostGIS), what can we do with that? what should we do with that?

[2016-04-27 03:43] pwnage101 commented on #27
Also, start to retire checkinapp-greenstreets.rhcloud.com since now we have a CNAME record.

[2016-04-27 04:25] thecristen commented on #27
The latest data's on checkinapp-greenstreets.rhcloud.com, it wouldn't make sense to delete that..

[2016-04-27 17:38] jkatzchristy opened #39 "Have cookies remember subteams + make subteams conditionally validating"
@thecristen @pwnage101 @Dustin21 The check-in is not collecting subteams for Cambridge, and I don't know if it's also happening for other orgs w/subteams, but it certainly may be. (I don't want to skew results by checking in as a test.)

Sub-teams are supposed to be req'd for orgs that have them. Do you know what the problem is, and why the problem? Can you figure out how soon this can be addresse

[2016-04-27 17:57] jkatzchristy opened #40 "2nd HIGHEST PRIORITY FOR WED: No Zipcodes entered!"
People are checking in without towns or zipcodes! I thought this issue was resolved.
@pwnage101 @thecristen @Dustin21

[2016-04-27 17:57] jkatzchristy commented on #40
Perhaps this could be resolved with adding a req'd zipcode field? Not sure how that foreigners would deal with that, but we're not the first people to deal with this issue.

[2016-04-27 18:24] stephoj opened #41 "Remove cookies from comment section"
Confirm cookies work for entire check-in form, except for 'Add a comment' area. At the moment, it looks like the top half has cookies, the legs (time/mode) don't have cookies (#42) and the comment box does have cookies. Please remove cookies from comment section.

[2016-04-27 18:55] hl-public commented on #39
Hi Janie, Haihan here.
If you could let me know which branch you are working on I'll take a look at it and try to resolve the issue.

[2016-04-27 19:06] jkatzchristy commented on #39
Thanks so much, @hhl60492. @thecristen said you should reach out to her with any questions.

[2016-04-27 19:07] jkatzchristy commented on #39
This feature DID work in the 2015 check-in.

[2016-04-27 19:07] thecristen commented on #39
Sorry for my delay, was wrapped up in work meetings. @hhl60492 I recommend creating a new branch off the latest master and then submitting a PR when you're done.

[2016-04-27 19:11] thecristen commented on #39
Some notes which might be useful or relevant-
- all our validation is server-side right now.
- making subteams required in the model doesnt make much sense, since for most checkins there is no subteam. subteam is only required when checking in with an employer that has associated subteams
- there's probably some python/django way of making subteam conditionally required, but it might be easier to

[2016-04-27 19:25] hl-public commented on #39
Thanks, Cristen. I will work on making the subteam field conditional. Most likely have to add more columns and fields to the db.

Also I will try to merge with the changes in the QOTM branch and do a pull request soon.

[2016-04-27 19:57] jkatzchristy commented on #33
I closed the old check-in, thanks to Cristen's suggestion, something I should have thought of doing much earlier!

[2016-04-27 20:18] jkatzchristy opened #42 "Have cookies remember past transportation (mode+time)"
Currently, modes and time seem to need to be re-selected each time one check's in. It would be much easier if they could be remembered, so people would not have to enter their commutes each time. Some people have complicated multi-leg commutes.

Comment from a participant's check-in yesterday:
"I wish this page would save my check-in information rather than requiring me to post it all each time."

[2016-04-28 02:15] jkatzchristy commented on #40
@pwnage101 @thecristen @benpatterson Any thoughts on this?

[2016-04-28 02:17] jkatzchristy commented on #39
@hhl60492 @thecristen  Any update on this?

[2016-04-28 03:53] thecristen commented on #40
wasnt filling out addresses something people complained about in past checkins? My impression is that people don't really want to give us the address information in the first place. are we sure we want to require this? This would conflict with what we've done in the past by reassuring people they can just enter the nearest intersection if they don't want to give us a precise address.

Have we cons

[2016-04-28 20:50] jkatzchristy opened #43 "IMMEDIATE: Confirm that server will not crash"
When I try to see April 2016 check-ins (" commuter surveys") to download them, I get this error message:
"504 Gateway Time-out
The server didn't respond in time."
@thecristen @pwnage101 do you know why or how to correct? I don't want the server to have problems when more people are checking in tomorrow.

[2016-04-28 23:25] thecristen commented on #43
To avoid this problem in the mean time, don't download more than a few checkins at a time while the checkin is open.  Don't do it!

[2016-04-29 01:52] jkatzchristy commented on #43
OK, I won't download much. Did you check to make sure that all commutes are being captured?

[2016-04-29 13:04] thecristen commented on #43
Looking in the admin at the Legs table, it looks like all commutes are being captured perfectly! :)

(The table shows all legs, and you can tell which ones are part of one person's commuter because they have the same identifier number for "checkin")

On Apr 28, 2016, 9:52 PM -0400, jkatzchristynotifications@github.com, wrote:

[2016-05-02 15:27] jkatzchristy opened #44 "HIGHEST PRIORITY MONDAY: Fix LB percentages"
Currently, companies that have 100% of staff checked in show up as 25%  @thecristen is that bc.
 the LB is calculating for all 4 months of 2016 so far? It's important to correct asap or ar.least confirm so we can tell coordinators of those workplaces that are at or.near 100% so they are.not.unnecessarily harassing staff to check in. Please confirm, if not correct asap. THANKS!

[2016-05-02 16:07] thecristen commented on #44
Please name a company so I can check.

[2016-05-02 16:17] thecristen commented on #44
@jkatzchristy I think your intuition was right that it was including too many months. I've adjusted the relevant code... should I push it online now or wait until later in the day? It'll take down the site for a minute or two.

[2016-05-02 16:32] #44 closed

[2016-05-02 16:43] jkatzchristy commented on #44
THANK YOU SO MUCH!!

Warmly,
Janie

_Janie Katz-Christy, Director_
_Green Streets Initiative http://gogreenstreets.org/_
_617-299-1872 o_
_617-645-9678 c_
_[image: gogreenstreets.org] http://gogreenstreets.org/_
_Happy Walk/Ride Day! *_Check in
http://checkinapp-greenstreets.rhcloud.com/checkin/ *_your commute, any
commute, now!_
_Friend us on Facebook
https://www.facebook.com/pages/The-Green-Stre

[2016-05-02 19:32] jkatzchristy opened #45 "PRIORITY FOR MONDAY! Confirming checkin.gogreenstreets.org."
Checkin.gogreenstreets.org is not the correct check-in, but looks the same. @thecristen Does all this data go to our LB and commutersurveys for checkinapp...? Someone had an issue with checkin.go... but not checkinapp..., if that's possible. I tried closing checkin.gog... but it closed the checkinapp...

[2016-05-02 19:41] jkatzchristy commented on #40
I think that "Elm St." or "49 Linden Ln" with no town or state is not what we want. I do think that we want to have intersection + Zipcode or intersection + town + state, whether it pops up or is written in, b/c we can then use that data to show how people get around. We could use more re-assuring language about why we collect this data: to represent the real ways that people travel to their munic

[2016-05-03 14:54] jkatzchristy opened #46 "Clear cookies when checking in another person"
At the end of the check-in, it says "Thank you... Check in another participant or go to the Leaderboard". But if you click on "Check in another participant", all the first participant's info is retained. We had some coordinators trying to check people in outside or in the lobby, and this was very inconvenient for them.

[2016-05-04 01:53] thecristen commented on #46
Can we tell people hosting checkin stations in public stations to _use the private mode on their browser_? I think most browsers have this option nowadays. then it won't store people's info

[2016-05-04 03:01] jkatzchristy commented on #46
Brilliant! Then it should have a note to that effect near where it says "Check
in another person"? Eg. like:
"_Check in another person_ (use "incognito window" or "private mode" in
browser)"

[2016-05-04 03:29] jkatzchristy commented on #42
@thecristen @pwnage101:  typical reaction people have is voiced again, here:
13097 Boston University (Staff) - BU MED    "Why do I have to do this manually every month, when it is always the same?  Can you not save the route, so I can check in faster. It takes too much time, and I will probably stop doing it for that reason."
I appreciate his sharing what I know many people feel.

[2016-05-05 18:31] jkatzchristy opened #47 "Update Sample Check-in"
The current Sample Check-in shows the 2015 check-in, and needs to be changed to show the 2016 Check-in. (The Sample Check-in enables us to see and to show others what the check-in looks like, even  allows Currently, when the Check-in is closed.) Determine process to keep it always updated.

[2016-05-05 18:34] jkatzchristy opened #48 "Beta Test the 2016 Check-in"
The 2015 Check-in showed many people did not understand wording. Confirm that it is now clarified and works well.

[2016-05-05 18:34] stephoj commented on #39
@thecristen to update and continue to work on once she has run @hhl60492 code

[2016-05-05 18:45] jkatzchristy commented on #41
@thecristen @pwnage101 Have cookies been removed from Comments section, ie. can this issue be closed? Also, can all the issues that have been done be closed? Stephanie and I are trying to understand what has been done already, and what still needs to be done. Thanks!

[2016-05-10 00:29] stephoj commented on #47
Take screenshots of sample check-in and delete sample check-in.

[2016-05-10 00:32] stephoj commented on #34
Data has been integrated. Correct April 2015 data on http://checkinapp-greenstreets.rhcloud.com/leaderboard/2015 and then delete http://checkin2015-greenstreets.rhcloud.com/leaderboard/2016/

[2016-05-10 15:08] #45 closed

[2016-05-10 15:09] #48 closed

[2016-05-10 15:11] stephoj commented on #47
@jkatzchristy or @thecristen will take screen shots of the check-in.

[2016-05-10 15:11] #47 closed

[2016-05-10 15:13] stephoj commented on #46
We will advise coordinators to use incognito or private browsers when mass staff are checking in on the one computer.

[2016-05-10 15:15] stephoj commented on #33
@jkatzchristy and I will ensure all links are correct from the website and ensure that we send the correct links in communications.

[2016-05-10 15:15] #33 closed

[2016-05-10 15:16] #31 closed

[2016-05-10 15:19] stephoj commented on #46
When person clicks "check-in another person" that person needs to be directed to an incognito or private browser to complete their check-in

[2016-05-10 15:27] stephoj opened #49 "Decimal place"

[2016-05-17 03:33] pwnage101 commented on #13
Merged #17, and here's some technical debt:  remember to make the settings files DRY and test a deployment to openshift.

[2016-05-17 10:20] benpatterson commented on #13
No sweat @pwnage101 @thecristen Indeed the deployment to openshift is why I made this PR less DRY.

I can work on cleaning up the files next with a common.py they each reference (or something similar).

[2016-05-17 20:48] pwnage101 commented on #46
The code in PR #51 currently deletes the session cookie when the "Check in another participant"  is pressed, but do we want to actually delete the session cookie?  Is there no use case for remembering original form values after submitting a referral checkin?

[2016-05-18 02:06] thecristen commented on #46
Good question @pwnage101!! It inspired to me to reflect a whole lot on my approach. Then I remembered we'd agreed to just make people use Incognito Mode instead, and that I was going to put a notice about that on the site. I'll revert the previous change I'd made.

BTW @stephoj, it is not possible to redirect someone to an incognito window. This looks like it will just be something we have to depe

[2016-05-18 18:35] thecristen commented on #22
Cookies work for employers and sub-teams, so I'm closing this because #42 is still open to remind me to make cookies work for legs.

[2016-05-18 18:35] #22 closed

[2016-05-18 20:33] thecristen commented on #34
It turns out that data is missing from the leaderboard because there's no April 2015 month in the app... :(

![image](https://cloud.githubusercontent.com/assets/2136286/15373136/123051f0-1d12-11e6-8ab3-2dcca777d423.png)

Looks like it was overwritten with May 2016 checkin info. I will try to change it back tonight and hopefully everything else will fall into place...

[2016-05-18 23:45] thecristen commented on #34
Done successfully!  http://checkinapp-greenstreets.rhcloud.com/leaderboard/2015/all/all/april/

[2016-05-18 23:45] #34 closed

[2016-05-19 16:57] stephoj commented on #46
We have communicated to coordinators to check-in mass groups of people in incognito browsers.

[2016-05-19 18:29] stephoj commented on #27
@thecristen and @pwnage101 http://checkin-greenstreets.rhcloud.com/retail/ doesn't work but http://checkinapp-greenstreets.rhcloud.com/retail/ does work. Problem is that the working url has old information and the retired one has the most up to date information.

[2016-05-19 18:40] stephoj commented on #27
I can re-enter the information in http://checkinapp-greenstreets.rhcloud.com/retail/ , no worries.

[2016-05-19 18:40] thecristen commented on #27
@stephoj I'm so relieved to hear that!

[2016-05-19 19:49] jkatzchristy opened #55 "Add May Question of the Month"
Replace the April question of the month with "May question of the month:
What positive experience did you have on today's commute that you wouldn't have had if you had traveled via another mode?"

[2016-05-20 21:36] #49 closed

[2016-05-20 21:43] #41 closed

[2016-05-20 21:43] #46 closed

[2016-05-21 21:20] thecristen opened #56 "Add test infrastructure for integration tests"
While writing #54 I wanted to create a test to verify that the alert is shown when trying to submit a company without a subteam. I couldn't since I'm essentially testing a javascript interaction, and we're not set up to handle this yet.

The Django docs have an example using [Selenium](https://docs.djangoproject.com/en/1.7/topics/testing/tools/#django.test.LiveServerTestCase). I've heard about [Hi

[2016-05-21 21:25] #39 closed

[2016-05-21 21:44] #37 closed

[2016-05-21 22:07] thecristen commented on #55
Just added this! You can now add questions via the admin page!

[2016-05-21 22:07] #55 closed

[2016-05-21 23:27] thecristen commented on #42
Status update: I've made some changes so that all the legs will now be **saved** in cookies. I've not yet made the complementary change of showing the saved cookie legs on the form. So you won't see this on the page yet, but this is good progress towards being able to display people's chosen legs the next month!

[2016-05-23 21:31] stephoj opened #57 "Change retail partners link in thank you email"
to http://checkinapp-greenstreets.rhcloud.com/retail/

[2016-05-23 21:32] stephoj opened #58 "Change check in another person link in thank you email"
to http://checkinapp-greenstreets.rhcloud.com/

[2016-05-24 19:08] stephoj commented on #27
Can we close this issue?

[2016-05-25 01:52] #57 closed

[2016-05-25 01:52] #58 closed

[2016-05-26 21:31] pwnage101 opened #59 "dead link to retail page on gogreenstreets home page"
See link to retail page on http://gogreenstreets.org/

It should point to:

http://checkin.gogreenstreets.org/retail/

...but instead it points to a non-existent app:

http://checkin-greenstreets.rhcloud.com/retail/

[2016-05-27 02:44] thecristen commented on #59
Why not point to http://**checkinapp**-greenstreets.rhcloud.com/retail/ ?

Also, not sure this issue belongs here, as http://gogreenstreets.org/ is a completely different site than this django app.

[2016-05-27 13:21] jkatzchristy commented on #59
Oooh, thanks!!! We missed that. Fixed now.

[2016-05-27 13:21] #59 closed

[2016-06-08 18:49] stephoj commented on #42
Update?

[2016-06-08 18:50] stephoj commented on #40
Update?

[2016-06-08 18:52] stephoj commented on #27
I went through the entire website and updated all of the links I could find. We are giving people new links so can this issue be closed?

[2016-06-10 15:00] stephoj opened #60 "People receiving multiple emails"
When we send out emails from CiviCRM people are receiving them two or three or more times. Any idea why?

[2016-06-20 17:32] stephoj opened #61 "Question of the month not appearing in check-in"
Why?

[2016-06-20 17:56] stephoj commented on #61
fixed it. June 2015 was entered.

[2016-06-20 17:56] #61 closed

[2016-09-14 19:11] jkatzchristy opened #62 "Enable the Question of the month to allow multiple choice, check-boxes, or ranking"
Eg. We'd like to be able to ask this question and allow people to check off or rank the options:

How would you most like to celebrate, be thanked, and get rewarded on Walk/Ride Days?
- Evening events that bring the community together, such as music in a park or happy hours near my home or after work near my workplace
- Free breakfast along my commute route
- Bike convoys from my home community to

[2016-12-12 14:48] #43 closed

[2016-12-12 14:50] pwnage101 commented on #42
@jkatzchristy what's the status on this?

[2016-12-12 19:01] jkatzchristy commented on #42
Done. Here's the test version:
http://checkintest-greenstreets.rhcloud.com/checkin/

*Janie Katz-Christy, Director*
*Green Streets Initiative <http://gogreenstreets.org/>*
*617-299-1872 o*
[image: gogreenstreets.org]
*Sign up <http://checkin.gogreenstreets.org/> to be reminded about upcoming
Walk/Ride Days.*
*Make sure *your employer is registered for the 2017 Challenge
<http://tracking.gogreenstr

[2016-12-12 19:07] #42 closed

[2016-12-20 19:49] jkatzchristy opened #63 "Text changes to checkin and checkintest"
In both checkin and checkintest, make the following text changes under "Your Normal Day Commute"

1.  In both "TO WORK" and "FROM WORK", in  "MY NORMAL COMMUTE IS EXACTLY LIKE MY WALK RIDE DAY COMMUTE.", change "WALK RIDE DAY" to "WALK/RIDE DAY", ie add "/".
2.  If one answers "No",

- change text In "TO Work FROM Home" from "How you did, or will, travel:" to "How you typically travel on Fridays (

[2016-12-20 20:56] pwnage101 commented on #63
is checkintest a staging environment that we can use to test changes?

[2016-12-20 21:06] jkatzchristy commented on #63
Yes. (and is here: http://checkintest-greenstreets.rhcloud.com/checkin/).

Also, because the actual check-in is only open during the actual Walk/Ride
Day check-in period, we use the checkintest during the rest of the month to
show others how the check-in process takes place.

*Janie Katz-Christy, Director*
*Green Streets Initiative <http://gogreenstreets.org/>*
*617-299-1872 o*
[image: gogreenstre

[2016-12-23 20:03] #63 closed

[2017-01-07 02:53] rrballenger17 opened #64 "Remembering Segments"
Only segments from the most recent form submission should be remembered. Old segments should be cleared before saving new ones to the user's session.

[2017-01-13 19:15] jkatzchristy opened #66 "Checkintest Site"
Employers listed correctly on admin page do not show up on checkintest page (http://checkintest-greenstreets.rhcloud.com/checkin/). Other issues with that page:

- subteams are missing
- check-in receipts/confirmation emails are not sent out
- notes/text from actual check-in don't seem to show up

[2017-01-18 19:49] jkatzchristy opened #67 "http://checkintest-greenstreets.rhcloud.com/ no longer on server"
Error message:
Not Found
The requested URL / was not found on this server.

[2017-01-18 22:29] #67 closed

[2017-03-08 02:42] rrballenger17 commented on #62
I'm currently working on this project.

[2017-03-08 02:45] rrballenger17 commented on #60
What is CiviCRM?

[2017-03-08 03:07] rrballenger17 opened #68 "Replace the logo with the high-resolution version"
1. Check-in app
2. Gogreenstreets.org website
3. Email signatures

[2017-03-08 03:10] rrballenger17 opened #69 "Company-specific question"
Add a company-specific question to the new multi-question QOM

[2017-03-08 03:11] rrballenger17 opened #70 "Track visitor count"
Google analytics connection that can track visitor count and the visitor-to-check-in ratio

[2017-03-08 03:17] rrballenger17 opened #71 "Cannot submit check-in form"
Sometimes the form gets hung up and will not allow the user to submit.

Note: It might be an issue with segments. A hidden, empty segment is registered as required and therefore, the form will not submit.

[2017-03-08 03:33] rrballenger17 opened #72 "Django admin slow"
Commutersurveys are loading very slowly. Sometimes it takes more than 60 seconds causing the page to timeout.

[2017-03-08 03:38] rrballenger17 opened #73 "Update check-in app for 2017 Challenge"
- Some places in the code use if-statements for 2015 or 2016 but don't handle 2017.
- The employers marked active2017 should be displayed (and not the 2016 companies)
- Any other updates to prepare for 2017

[2017-03-10 15:34] jkatzchristy opened #74 "Provide Email Receipt for http://checkintest-greenstreets.rhcloud.com/checkin/"
Provide participant with email receipt after check-in is submitted at http://checkintest-greenstreets.rhcloud.com/checkin/, just as is done on actual check-in

[2017-03-10 15:38] jkatzchristy opened #75 "Add new QOM format to check-in"
http://checkinapp-greenstreets.rhcloud.com/admin/survey/questionofthemonth/add/
Enable new QOM format for new questions.
(Note: I could not add ANY new check-in months to the dev or test checkin sites, for some reason. Was trying to add one for March and test out the new QOM format options.

[2017-03-10 15:51] jkatzchristy opened #76 "Enable People to Compare Sub-teams or Companies from diff size or industry sector categories to each other"
Low priority. Only to be done when system is up and running perfectly without this!

[2017-03-10 23:21] jkatzchristy opened #77 "Update screen for when Check-in isn't open"
See this link with edits: https://docs.google.com/document/d/19OuIuXOs94uuwdW85ErMxo1DXzRVwgrOC3lCr-7HS8I/edit?usp=sharing

[2017-03-11 00:38] rrballenger17 commented on #75
Regarding "(Note: I could not add ANY new check-in months...", there was an issue with the database but it's resolved.

[2017-03-15 16:47] CraigFisher commented on #77
on the current page, http://checkinapp-greenstreets.rhcloud.com, I'm seeing a middle section that says:
...................
The next Walk/Ride Day is
Friday, March 31, 2017
You will be able to check-in from
Monday, March 27, 2017 through Monday, April 03, 2017

Sign up for our newsletter for events and more, like FREE Walk/Ride Day breakfasts!
....................

Should the new section go above

[2017-03-15 17:25] jkatzchristy commented on #77
I modified it on the linked site, where I also made a few other wording
changes. Thanks so much!

On Wed, Mar 15, 2017 at 12:47 PM, CraigFisher <notifications@github.com>
wrote:

[2017-03-15 18:40] jkatzchristy opened #78 "Integrate coordinator's secret code into .app website"
Add to dashboard so Janie could see it easily and download when downloading contacts.

[2017-03-15 18:53] jkatzchristy commented on #78
Decided not to do this, for fear of crashing the site.

[2017-03-15 18:53] #78 closed

[2017-03-15 19:09] jkatzchristy opened #79 "Update test and dev sites with current competitors asap and recurring on Tuesday afternoons's."

[2017-03-15 21:42] jkatzchristy opened #80 "Overlay CO2 savings/kcal wrd vs normal on leaderboard employer details, Impacts"
Normal vs WRD vs driving alone

eg: http://checkinapp-greenstreets.rhcloud.com/companies/2016/49// under "impacts"

[2017-03-20 23:10] rrballenger17 commented on #79
Mon. 3/20/17: The competitors for the test and dev sites have been updated.

[2017-03-22 21:31] #80 closed

[2017-03-22 21:37] jkatzchristy opened #82 "In Coordinator's Dashboard, in "All months", for people who have checked in multiple times, show each month's Normal and WRD data."
Also, label each month.

[2017-03-22 21:43] jkatzchristy opened #83 "Add new QOM features to http://checkinapp-greenstreets.rhcloud.com/"
Eg. pull-down menus and other things that are on the http://checkintest-greenstreets.rhcloud.com/
Do we have ability to ask company specific QOM's? One of our new competitors wants to do that. We need to test that asap.

[2017-03-22 21:57] jkatzchristy opened #84 "Integrate API's from fitness apps to dev site so we can test and see how they work."
For fitbit, strava, mapmyrun, etc,

[2017-03-22 22:04] jkatzchristy opened #85 "On Leaderboard, have links be underlined when hovered over."

[2017-03-26 15:04] CraigFisher commented on #36
I was reading around about how possible this is.  While we can implement it, it might not work for all email clients and the behavior might be tricky to get consistent: https://www.sitepoint.com/forms-in-email/  (perhaps if there was a super-minimal action, like one-click-and-done (like re-using the route entered from the previous week), then we could present an optional button that does the whole

[2017-04-18 17:08] rrballenger17 opened #87 "Upgrades"
The following need updated:

dependencies in requirements.txt
python 2.7 -> python 3+
django 1.7 -> django 1.11

[2017-04-28 19:14] jkatzchristy opened #88 "Populate / Fix Dashboard so they work"

[2017-05-03 18:51] jkatzchristy commented on #88
** All Dashboards should show complete check-in info. (Ultimately dashboard info should be automatic and live.

Dashboards for returnees from 2016 are still not working.
- Seres Therapeutics
- Cazena
- VHB

Link that says "Export names, emails, and change type of all participants for this month into a CSV File" doesn't work.

[2017-05-06 22:00] jkatzchristy commented on #88
All those from these three workplaces are updated to their appropriate employer on both the checkinapp and checkindev sites, but don't show up correctly on the Stats page nor on the Individual Surveys page.

[2017-05-20 03:38] #75 closed

[2017-05-20 03:40] jkatzchristy opened #90 "Reconfigure size categories so they are more balanced. We recently lost larger workplaces and gained smaller ones."
Per this spreasheet: https://docs.google.com/spreadsheets/d/1DHnLWudZASrq3OpwcErvzmWQZe35APoCG6m-HTd2CT8/edit?usp=sharing
I think this was already shared in email.

[2017-05-22 22:50] rrballenger17 opened #91 "2017 employer profiles"
BU (Faculty), Lesley (Faculty), and BU Student don't have 2017 entries in the employer table.

That means they don't show up on the leaderboard and don't have a coordinator's dashboard.

[2017-05-25 04:03] #90 closed

[2017-06-08 13:56] jkatzchristy opened #92 "Enable more info such as individual surveys' transportation type to be downloaded from coordinator dashboard"

[2017-06-08 13:57] jkatzchristy opened #93 "Change the company size categories for the Leaderboard per https://docs.google.com/spreadsheets/d/1DHnLWudZASrq3OpwcErvzmWQZe35APoCG6m-HTd2CT8/edit#gid=1578474800"

[2017-06-08 13:59] jkatzchristy opened #94 "Modify check-in page when check-in isn't open."
Correct/replace newsletter sign up link on the checkin page when check-in isn't open. Also add sentence saying, "Click here to see what the check-in looks like when it's open." with this link: https://docs.google.com/presentation/d/1vw1p5yuApejxp1G2gAO_voaGj4NXCsw09gZ7ftuOO6Q/pub?start=false&loop=false&delayms=3000&slide=id.g1b38369831_0_0

[2017-06-08 16:36] jkatzchristy opened #95 "Create Overall Dashboard for GSI to use to see impacts of WRD"
It is too cumbersome for us to go to each co's dashboard, so we would like to be able to see the same info that coordinators, only aggregated. Would be good to be able to see the name of their employers, too.

[2017-06-12 20:04] jkatzchristy commented on #93
We need to have different size categories for each year or provide another way of still showing previous years' dashboards. Ie. one category in 2016 was called "Biotech and Banking" in 2016, and now is "Biotech". So last year's sectors don't make sense for, eg. State Street Corp. being in "Biotech". And last year's size winners no longer show that they won, as size categories have been reconfigure

[2017-06-14 00:41] rrballenger17 commented on #93
The category sizes for 2016 are restored. I'll check if the 2015 category sizes also need updated.

I'm working on restoring the 2016 category names. It's probably easiest to do it manually in the app code versus adding it in the database. Plus, past years category names will never change.

[2017-06-17 02:57] rrballenger17 commented on #93
Based on a data backup from March 8th, last year's categories were:

id,name
1,Biotech and Banking
2,Hospital and University
3,Public and Municipal
5,Sm Technology Co's
6,Architecture and Engineering
7,Legal and Development/Education
4,Technology, Energy, Media, Co-Working

[2019-05-17 23:44] flurmbo opened #112 "TODO for May"
- [ ]  Make database migrations
- [ ] Add debug=true and allowed hosts to config
- [ ] Order transportation modes on survey form
- [ ] Update leaderboard route redirect to use settings.YEAR
- [ ] Switch order of normal commute and walk-ride day commute on survey

[2019-05-22 06:26] flurmbo commented on #112
Database migrations are tricky at the moment. The current hack works for the live site, but Django wants to make another migration on my local build. This might be because a migration was made without being committed at some point.  If I commit the new migration, the live site doesn't like it because it has already made the changes but doesn't recognized the migration's file name.

Right now a hac